.landingImg {
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    z-index: 2;
}

.landingBox {
    background-color: #131313;
    border-radius: 50px;
    height: 950px;
    width: 1875px;
    position: absolute;
    z-index: 3;

    margin-top: 22px;
    margin-left: 20px;
}